.action-sheet-title {
    color: white!important;
    font-style: bold!important;
    background-color: #488aff !important;
}
.action-sheet-group:first-child {
    padding: 0 !important;
}
.action-sheet-group-cancel {
    background-color:  #488aff!important;
}
.cancel {
    color: white!important;
}
